<div id="status-<%=task.id%>">
  <p>Status: <%= task.completed ? "Complete":"Incomplete"%> </p>
  <% btn_text = task.completed ? ("Wait, I'm Not Done!"):("I'm Done!")%>
  <%= link_to btn_text, task_path(id: task.id, task: { completed: !task.completed}), method: :patch, remote: true, class: "btn btn-primary", id: "done-button" %>
</div>
