<!-- adding data-id attribute -->
<div class="panel panel-default" data-id="<%= task.id %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= task.name %></h3>
  </div>
  <div class="panel-body">
    <%= truncate task.description, length: 50 %>
  </div>
  <div class="btn">
    <button type="button" id="myButton" data-loading-text="Completed!" class="btn btn-primary" autocomplete="off">
    Working On It
    </button>
    <script>
    $('#myButton').on('click', function () {
      var $btn = $(this).button('loading')
      // business logic...
      $btn.button('reset')
    })
    </script>
  </div>
</div>
