<div class="jumbotron col-md-10 col-md-offset-1">
  <h1>Things To Do</h1>
</div>
<div class="tasks">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 sortable">
      <%  if @tasks.any? %>
        <%= render @tasks %>
      <% end%>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <%= link_to 'Create New Task', new_task_path, class: "btn btn-success", id: "done-button" %>
    </div>
  </div>
</div>
