<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="new_header">New Task</h1>
    <%= render 'form' %>

    <%= link_to 'Back', tasks_path, class: "btn btn-default" %>
  </div>
</div>
