/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.jumbotron {
  background-image: url("productivity.jpg");
  color: #FFF;
  min-height: 362px;
  background-size: cover;
  // width: 900px;
  h1{
    text-align: center;
    text-shadow: 2px 2px 8px #000000;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.panel-title{
  i{
    color: black;
  }
}

body{
  background-color: #183B4F;
}

// .glyphicon{
//   display: ;
// }
.container{
  background-color: #F1F1F1;
  background-size: cover;
  padding-bottom: 3%;
  border-radius: 8px;
}

#complete-by{
  padding-top: 3%;
  color: blue;
}

.panel-body{
  color: #000;
}

#done-button{
  color: #FFF;
}
